#root {
  width: 100%;
  background: #cccccc;
  text-align: center;
}

#board {
  margin: 0 auto;
  text-align: center;
}


#mainDiv {
  text-align: center;
  display: inline-flex;
  justify-content: space-around;
  width: 95%;
  height: 75vh;
  margin: 40px;
}

#mainDiv > div {
  margin: 0 auto;
}

#mainBoard {
  width: 82vh;
}

#mainBoardContainer button {
  width: 50%;
  height: 8vh;
  text-decoration: none;
  border: 1px solid black;
}

#prefabMenu {
  width: 40%;
}

#prefabMenuHeaders {
  display: flex;
  height: 10%;
}

#prefabMenuHeaders span {
  width: 100%;
  border: 1px solid black;
  background: #FFFFFF;
}

#prefabScrollableArea {
  display: flex;
  overflow: scroll;
  height: 90%;
  border: 1px solid black;
}

.prefabColumn {
  width: 100%;
}

.prefabColumn ul {
  padding: 0;
  margin: 0;
}

.previewGrid * {
  padding: 0;
  margin: 0;
}

.previewGrid {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.previewGrid .boardRow {
  width: 100%;
  height: 100%;
}


.previewGrid li {
  width: 100%;
  height: 100%;
  border: 1px solid #757575;
  display: inline-block;
  padding: 0;
}

.prefabPreview {
  display: block;
  border: 1px solid black;
  background: #FFFFFF;
  position: relative;
  padding-top: 100%;
}

#highlightedPrefabPreview {
  border: 1px solid red;
  background: #cfcfcf;
}

.cell {
  border: 1px solid #000000;
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 100%;
}

#board .cell {
  width: 35px;
  height: 35px;
}

#board li {
  display: inline-block;
}

.cell.alive {
  background: #000000;
}

#board .cell.alive:hover {
  border: 3px dotted #FFFFFF;
}

.cell.dead {
  background: #FFFFFF;
}

#board .cell.dead:hover {
  border: 3px dotted #000000;
}

.cell.dead.shadow, .cell.dead.shadow {
  background: #7a7a7a;
}

.boardRow {
  list-style-type: none;
  padding: 0;
  margin: auto;
  width: min-content;
  display: flex;
}

.boardGrid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.boardGrid .boardRow {
  width: 100%;
  height: 100%;
}

.miniBoardGridContainer {
  height: 60%;
  width: 60%;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.prefabPreview p {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
}

/*--------- Elementary Board--------------*/
#ElementaryMainDiv {
  width: 80vw;
  margin: auto;
}


#ElementaryMainDiv .cell {
  width: 2vw;
  height: 2vw;
}

/*--------- Menu Bar -----------*/
#menuBar {
  display: flex;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 6vh;
}

#menuBar button {
  width: 100%;
  height: 100%;
}
