#root {
  width: 100%;
  background: #cccccc;
  text-align: center;
}

#board {
  margin: 0 auto;
  text-align: center;
}


#mainDiv {
  text-align: center;
  display: inline-flex;
  justify-content: space-around;
  width: 95%;
  height: 620px;
  margin: 20px;
}

#mainDiv > div {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

#prefabMenu {
  display: flex;
  justify-content: center;
}

.prefabColumn {
  border: 1px solid black;
  width: 29%;
  background: #d4d4d4;
}


.prefabColumn ul {
  padding: 0;
  margin: 0;
}

.previewGrid * {
  padding: 0;
  margin: 0;
}

.previewGrid {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.previewGrid .boardRow {
  width: 100%;
  height: 100%;
}


.previewGrid li {
  width: 100%;
  height: 100%;
  border: 1px solid #757575;
  display: inline-block;
  padding: 0;
}

.prefabPreview {
  display: block;
  border: 1px solid black;
  background: #FFFFFF;
  position: relative;
  padding-top: 100%;
}



.cell {
  border: 1px solid #000000;
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 100%;
  
}

#board .cell {
  width: 35px;
  height: 35px;
}

#board li {
  display: inline-block;
}

.cell.alive {
  background: #000000;
}

#board .cell.alive:hover {
  border: 3px dotted #FFFFFF;
}

.cell.dead {
  background: #FFFFFF;
}

#board .cell.dead:hover {
  border: 3px dotted #000000;
}

.shadow {
  background: #cccccc;
}

.playButton {
  width: 100px;
  height: 50px;
}

.step {
  width: 100px;
  height: 50px;
}

.boardRow {
  list-style-type: none;
  padding: 0;
  margin: auto;
  width: min-content;
  display: flex;
}

.boardGrid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.boardGrid .boardRow {
  width: 100%;
  height: 100%;
}

.miniBoardGridContainer {
  height: 60%;
  width: 60%;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.prefabPreview p {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
}